* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    margin: 40px 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.layout {
    display: flex;
    gap: 40px;
}

.top-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
    height: 60px;
}

button {
    padding: 8px 12px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

form {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

table {
    flex: 1;
    border-collapse: collapse;
    background: white;
    table-layout: fixed;
}

thead tr {
    height: 60px;
}

tbody tr {
    height: 70px;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td {
    vertical-align: middle;
}

.invalid {
    border: 2px solid red !important;
}

.error {
    color: red;
    font-size: 12px;
    min-height: 14px;
}
